{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>Welcome Faculty Name</h1>
    <br>
    <br>
<div class="container">
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Add Weekly-Schedule</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Add Students</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Track Progress</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Feedback</h1></center></div></a>
  </div>
</div>
<center>
  {% endblock %}
