<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <center>
    <h1>Welcome Faculty Name</h1>
    <br>
    <br>
<div class="container">
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Add Weekly-Schedule</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Add Students</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Track Progress</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Feedback</h1></center></div></a>
  </div>
</div>
<center>
</body>
</html>
