<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="teacherlogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container myCtn">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <h2 class="text-center mt-3">Sign in</h2>
                    <form action="" id="contact-form" class="main-form needs-validation" role="form" novalidate>

                        <div class="form-group">
                            <label>
                                <input type="text" id="form_user" class="my_form-control" required>
                                <small class="my_place">Username</small>
                                <div class="invalid-feedback">Please enter the above field.</div>
                            </label>
                        </div> 

                        <div class="form-group">
                            <label>
                                <input type="password" id="form_password" class="my_form-control" required>
                                <small class="my_place">Password</small>
                                <div class="invalid-feedback">Please enter the above field.</div>

                            </label>
                        </div>  

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary mt-3 mx-auto" >SIGN IN</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="teacherlogin.js"></script>
</body>
</html>

