{% extends 'base.html' %}

{% block content %}

<!-- <div> -->
	<!-- <label for="content_type">Content Type</label>
                              <select class="form-control content-type" id="content" name = "content">
								<option>video</option>
								<option>audio</option>
								<option>image</option>
                             </select> -->
<!-- </div> -->

<div class="row">
	{% for m in media %}
		<div class="col-sm-4">
			<video width="320" height="240" controls>
				<source src="/media/{{m.media}}" type="video/mp4">
			</video>
			
			<!-- <audio controls>
				<source src="/media/{{m.media}}" type="audio/ogg">
			</audio> -->

			<h3>{{ m.subject }}</h3>
			<p>{{ m.std }}</p>
			<p>{{ m.file_type }}</p>
			<form action="{% url 'main:download' m.media %}" method="post">
				{% csrf_token %}
				<button type="submit">
					download
				</button>
			</form>
			<!-- <a href="{{ m.media.url }}" download>Download</a> -->
			<a href="https://web.whatsapp.com/send?text={{request.META.HTTP_HOST}}/download/{{m.media}}">Share on whatsapp</a>
        </div>
	{% endfor %}
</div>
{% endblock %}