{% extends 'base.html' %}

{% block content %}

    {% if error %}
    {{error}}
    {% endif %}
    <form action="{% url 'teachers:create_student' %}" method="post">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <input type="password" name="passagain" placeholder="confirm Password">
        <input type="number" name="rollno" placeholder="Roll number">
        <input type="number" name="phone" placeholder="Phone">
        <input type="text" name="std" placeholder="Class">
        <button type="submit">Submit</button>
    </form>
    
{% endblock %}