{% extends 'base.html' %}

{% block content %}

    {% if error %}
    {{error}}
    {% endif %}
    <!-- <form action="{% url 'teachers:create_student' %}" method="post">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <input type="password" name="passagain" placeholder="confirm Password">
        <input type="number" name="rollno" placeholder="Roll number">
        <input type="number" name="phone" placeholder="Phone">
        <input type="text" name="std" placeholder="Class">
        <button type="submit">Submit</button>
    </form> -->
    <div class="card-body">
        <!-- <h5>Add Assignments</h5> -->
        <form action ="{% url 'teachers:create_student' %}" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control student-value" id="class" name = "uname" placeholder="Username" required>
              </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="password" name = "pass" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password" class="form-control" id="confirm password" name = "passagain" placeholder=" Confirm Password" required>
            </div>

            <div class="form-group ">
                <label for="rollno">Roll No.</label>
                <input type="number" class="form-control" id="rollno" name = "rollno" placeholder="Roll Number" required>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="phone">Phone</label>
                <input type="number" class="form-control" id="phone" name = "phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
                <label for="text">Class</label>
                <input type="text" class="form-control" id="class" name = "std" placeholder="Class" required>
            </div>

            <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
      </div>
    
{% endblock %}