{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>Welcome {{ request.user }}</h1>
    <br>
    <br>
<div class="container">
  <div class="card bg-success text-white">
    <a href="{% url 'teachers:agenda' %}"><div class="card-body"><center><h1>Add Weekly-Schedule</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="{% url 'teachers:create_student' %}"><div class="card-body"><center><h1>Add Students</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="{% url 'teachers:delete_student' %}"><div class="card-body"><center><h1>Delete Student</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="{% url 'teachers:materials' %}"><div class="card-body"><center><h1>Materials</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Track Progress</h1></center></div></a>
  </div>
  <br>
  <div class="card bg-success text-white">
    <a href="#"><div class="card-body"><center><h1>Feedback</h1></center></div></a>
  </div>

  
</div>
<center>
  {% endblock %}
