<html>
    <head>
        <meta charset="utf-8">
        <title>Teacher Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/teacher_dashboard.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-primary">
            <a class="navbar-brand" href="#">{{ teacher_name }}</a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
              <!-- <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
              </ul> -->
            <!-- </div> -->
          </nav>



        
        <div class = "class-parent">
          <div class="class-child">
            <ul class="list-inline">
                {% for class in class_list %}
                <!-- <a class="nav-link" href="class.html">{{ class }}</a> -->
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='class.html';">{{ class }}</button>
                <!-- <div class="btn-group btn-group-lg" role="group" aria-label="...">Right</div> -->
                <!-- <li class="list-inline-item"><button type="button" class="btn btn-outline-primary">{{ class }}</button> -->
                <!-- </li> -->
                <!-- <li>{{ athlete.name }}</li> -->
                {% endfor %}
              </ul>
              
          </div>
        </div>  
         





          
    </body>
</html>