{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h2 class="text-center mt-3">Delete Student</h2>
        <form method="post" >
          <div class="form-group">
            <label for="Roll No">Roll No</label>
            <input type="number" class="form-control" id="Roll NO" name = "rollno" required >
          </div>
            <button type="submit" class="btn btn-primary"> Delete Student </button>
          </form>
        
         
        <!-- <h5>Delete Student</h5>
        <form method="post" >
            <div class="form-group">
                <div class="form-group">
                    <select class="form-control" id="student" name = "student">
                        {% for student in student_list %}
                        <option>{{ student.name }}</option>
                        {% endfor %} 
                    </select>
                  </div>
              </div>
            <button type="submit" class="btn btn-primary"> Delete Student </button>
          </form> -->
    </div>
  </div>
    
{% endblock %}