{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Check out the Materials and Videos out there!!!</h1>
    
    <div class="row">
        <div class="col-sm-4">
        <video width="320" height="240" controls>
            <source src="" type="video/mp4">
        </video>
        </div>

        <div class="col-sm-4">
            <video width="320" height="240" controls>
                <source src="" type="video/mp4">
            </video>
        </div>

        <div class="col-sm-4">
            <video width="320" height="240" controls>
                <source src="" type="video/mp4">
            </video>
            </div>
    </div>
    <br>
    
    <h2>Find out the download Links..</h2>
    <h3>www.google.com</h3>
    <h3>www.youtube.com</h3>
    <br>
    <br>
    
    <button type="button" class="btn btn-primary">Click for Assessment</button>
    </center>
{% endblock %}


  