{% extends 'base.html' %}

{% block content %}


<div id="list-example" class="list-group ">
    <a class="list-group-item list-group-item-action" href="http://127.0.0.1:8000/teacher/createstudent">ADD STUDENT</a>
    <a class="list-group-item list-group-item-action" href="http://127.0.0.1:8000/teacher/uploadfiles">UPLOAD FILES</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
  </div>
  
    
{% endblock %}