{% extends 'base.html' %}

{% block content %}
<center>
    <h1><b>Welcome to LAHI</b></h1>
    <br>
    <h2>Online Content Management System!!</h2>
    <br>
    <br>
    <br>
    
    <div class="row">
        <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <br><br><br><h5 class="card-title"><h1>About us</h1></h5>
              
              <a href="#" class="btn btn-primary">Go</a><br><br><br><br><br>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <br><br><br><h5 class="card-title"><h1>Contact Us</h1></h5>
                    <a href="#" class="btn btn-primary">Go</a><br><br><br>
                </div>
              </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;" style="background-color:blueviolet ;">
                <div class="card-body">
                    <br><br><br><h5 class="card-title"><h1>Feedback</h1></h5><br>
                    <a href="#" class="btn btn-primary"><center>Go</center></a><br><br><br>
                </div>
              </div>
            </div>
            
    </div>
<center>
{% endblock %}