body{
    background-color: whitesmoke;
}
.class-parent {
    position:relative;
  height: 400;
  background-color: wheat;
    position: relative;
    box-shadow: 5px 10px gainsboro;
    /* height: auto;
    width: auto; */
    /* background-color: blueviolet; */
    text-align: center;
    margin-top: 50;
    margin-bottom: 50%;
    margin-left: 20%;
    margin-right: 20%;
  }
.class-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.btn{
    margin: 20px 2px;
}
